body {
	background-color: #363636;
	background: url(imagens/carrao.jpg);
	

}

ul {

	font-size: 50px;

}
a {
	text-decoration: none;
	color:ghostwhite;

}

#principal {
	font: 32px Arial,Helvetica,sans-serif ;
	text-align: left;
	color:#8B4513;
	width: 900;
}

.fundo {
	text-shadow: blueviolet;
	border:  1px solid red;
	margin: 15px auto;
	
	padding: 18px;
	width: 300;
}

